{% load staticfiles %}

<!DOCTYPE html>

<html>

	<head>
	
		<title>Lesson Plan Information</title>
		<meta charset="utf-8">		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
  
	</head>


	<body>
	
		<form method="POST" id = "weeklyLessonPlanQ">
			<div class = "container">
			
			<div class="page-header">
			  <h1>Find a Weekly Lesson Plan by Week Number</h1>
			</div>
			<div class = "form-group">
			 {% csrf_token %}
			
			
	
			<label for="sel1">Please select a week number:</label>
			<select name = "weeklyLessonPlanQ1" form = "weeklyLessonPlanQ" class = "form-control" id = "sel1">
			
				{% for weeklyLessonPlan in weeklyLessonPlans %}
					
						<option value = {{weeklyLessonPlan.week_no}}>{{weeklyLessonPlan.week_no}}</option> 
					
				{% endfor %}	

			</select>
			
			<br>
			<input class="btn btn-primary" type="submit" value="Find Weekly Lesson Plan">
			<br>
			
			
			
			<br>
			
			
			</div>
			</div>		
			
			
		</form>
			
			{% if results %}
			
		<div class = "container">
			<table class= "table table-hover">
			<caption>Week #{{choice}}</caption>
			  <thead>
				
				<th>Summary</th> 
				<th>Start Date</th>
				<th>End Date</th>
				
			  </thead>  
			  
				
				{% for r in results %}
					<tr>
					
						<td>{{r.summary}}</td>					
						<td>{{r.start_date}}</td>
						<td>{{r.end_date}}</td>
						
					 </tr>
				{% endfor %}	
			 
			  
			</table>
		</div>
				
				
			
			{% endif %}
		
		
	</body>
	
</html>